* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 5rem;
}

/* For header */
.header {
  min-height: 60px;
  background-color: var(--main-color);
}

.header-button {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.55);
  background-color: var(--main-color);
}

.header-button:focus {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 0 0.25rem #a08aaa6e;
}

.header-button:hover,
.header-button:active:focus {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 0 0.25rem #a08aaa6e;
}
/*  */

.title {
  color: var(--main-color);
}

/* Form inputs */
.form-control:focus {
  border-color: rgba(255, 255, 255, 0.55);
  box-shadow: 0 0 0 0.25rem #41464b6e;
}

.form-control[readonly] {
  border: 1px solid #ced4da;
  box-shadow: none;
}

.form-label {
  margin: 0;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='purple'/%3e%3c/svg%3e");
  color: #ffc0cb;
}

.form-switch .form-check-input:checked {
  background-color: var(--main-color);
  border: var(--main-color);
}

.form-switch .form-check-input:checked:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #41464b3f;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='purple'/%3e%3c/svg%3e");
  border-color: #41464b6e;
}

/*  */

/* For Pagination */
.pagination {
  bottom: 2rem;
}

.page-link,
.page-link:hover {
  color: var(--main-color);
}

.page-item.active .page-link {
  background-color: var(--main-color);
  border-color: rgba(255, 255, 255, 0.55);
}

.page-link:focus {
  box-shadow: 0 0 0 0.25rem #9e518f83;
}
/*  */

.footer {
  width: 100%;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
}

/* For projects cards */
.card {
  height: 100%;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.card-link:hover {
  color: inherit;
}

.card__delete-btn {
  padding: 0;
  margin-left: 10px;
  color: #6c757d;
  border: none;
  box-shadow: none;
}

.card__delete-btn:hover,
.card__delete-btn:active,
.card__delete-btn:focus {
  color: #5c636a;
  border: none;
  box-shadow: none;
}
/*  */

.button-primary {
  background-color: var(--main-color);
  color: rgba(255, 255, 255);
  border: #a307a3;
}

.button-primary:hover,
.button-primary:active {
  background-color: #660666;
  color: rgba(255, 255, 255);
}

.button-primary:focus:active {
  background-color: #660666;
  color: rgba(255, 255, 255);
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem #9e518f83;
}

.button-primary:disabled {
  background-color: #9c099c48;
}

.button-primary:focus {
  background-color: var(--main-color) !important;
  color: rgba(255, 255, 255) !important ;
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem #9e518f83;
}

.spinner-border {
  border-color: var(--main-color);
  border-right-color: transparent;
}
