* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 1rem;
}

.header {
  background-color: var(--main-color);
}

.header-button {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.55);
}

.add__project-button {
  background-color: var(--main-color);
  color: rgba(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.55);
}

.add__project-button:hover,
.add__project-button:active,
.add__project-button:focus {
  background-color: #730673;
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem #cacccf6e;
}

.header-button:hover,
.header-button:active {
  color: var(--main-color);
  border-color: var(--main-color);
}

.auth-title {
  color: var(--main-color);
}

.form-control:focus {
  border-color: rgba(255, 255, 255, 0.55);
  box-shadow: 0 0 0 0.25rem #41464b6e;
}

.spinner-border {
  border-color: var(--main-color);
  border-right-color: transparent;
}

.page-link,
.page-link:hover {
  color: var(--main-color);
}

.page-item.active .page-link {
  background-color: var(--main-color);
  border-color: rgba(255, 255, 255, 0.55);
}

.footer {
  width: 100%;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
}

.card {
  height: 100%;
}
