.header {
  background-color: purple;
}

.button {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.55);
}

.button:hover,
.button:active {
  color: purple;
  border-color: purple;
}
